## Understanding Collection

In [ ]:
friends = ['joseph', 'Glenn', 'Sally']
carryon = ['socks', 'shirt', 'perfume']

print(friends)
print(carryon)

['joseph', 'Glenn', 'Sally']
['socks', 'shirt', 'perfume']

In [ ]:
x=2
x='hello'
x=4
print(x)

4

In [ ]:
print([1,24,76])
print(['red', 'yellow', 'blue'])
print(['red', 24, 98.6])
print([1, [5,6], 7])
print([])

[1, 24, 76]
['red', 'yellow', 'blue']
['red', 24, 98.6]
[1, [5, 6], 7]
[]

## List

In [ ]:
for i in [5,4,3,2,1]:
  print(i)
print("Blastoff")

5
4
3
2
1
Blastoff
Happy New Year:  joseph
Happy New Year:  Glenn
Happy New Year:  Sally
Done!

In [ ]:

friends = ['joseph', 'Glenn', 'Sally']
for friend in friends:
  print("Happy New Year: ", friend)
print("Done!")

Happy New Year:  joseph
Happy New Year:  Glenn
Happy New Year:  Sally
Done!

In [ ]:
friends = ['joseph', 'Glenn', 'Sally']
print(friends[1])

Glenn

### Mutable or not

In [ ]:
fruit = "Banana"
#fruit[0] = 'b' # String is immutable

x=fruit.lower()
print(x)

banana

In [ ]:
lotto = [2,14,26,41,63]
print(lotto)

lotto[2] = 28 # List is mutable
print(lotto)
lotto.append("sanchita")
print(lotto)
lotto[-1] = "Hello"
print(lotto)
lotto[-1] = 1
print(lotto)

[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]
[2, 14, 28, 41, 63, 'sanchita']
[2, 14, 28, 41, 63, 'Hello']
[2, 14, 28, 41, 63, 1]

## Length

In [ ]:
greek ="Hello Bob"
print(len(greek))

x= [1,2,"joe", 99]
print(len(x))

print([*range(4)])

for i in range(len(friends)):
  friend=friends[i]
  print('Happy New Year: ', friend)

9
4
[0, 1, 2, 3]
Happy New Year:  joseph
Happy New Year:  Glenn
Happy New Year:  Sally

## Concate

In [ ]:
a =[1,2,3]
b=[4,5,6]
c=a+b

print(c)
print(a)

d = c+[7,8]
print(d)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8]

## Slicing

In [ ]:
t =[9,41,12,3,74,15]
print(t[1:3])
print(t[:4])

print(t[3:])
print(t[0:len(t):2])
print(t[:1:])

[41, 12]
[9, 41, 12, 3]
[3, 74, 15]
[9, 12, 74]
[9]

## List methods

In [ ]:
x=[1,2,3]
print(type(x))
print(dir(x))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
stuff = list()
stuff.append("book")
stuff.append(99)

print(stuff)

stuff.append("cookie")
print(stuff)

stuff.remove(99)
print(stuff)

['book', 99]
['book', 99, 'cookie']
['book', 'cookie']

## "in" list or not

In [ ]:
some =[1,9,21,10,16]
print(9 in some)

print(15 in some)

print(20 not in some)


some.append("sam")
print(some)
print("sam" in some)

True
False
True
[1, 9, 21, 10, 16, 'sam']
True

## Ordered sequence

In [ ]:
friends = ['joseph', 'Glenn', 'Sally']
print(friends)
friends.sort()

print(friends)
print(friends[1])

['joseph', 'Glenn', 'Sally']
['Glenn', 'Sally', 'joseph']
Sally

In [ ]:
some =[1,9,21,10,16]
some.sort()
print(some)

[1, 9, 10, 16, 21]

## Functions and list

In [ ]:
nums = [3,41,12,9,74,15]

print(len(nums))

print(max(nums))

print(min(nums))

print(sum(nums))

print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

## String and list

In [ ]:
abc = 'With three words'
stuff = abc.split()

print(stuff)
print(len(stuff))
print(stuff[0])

['With', 'three', 'words']
3
With

In [ ]:
line = 'A lot                of spaces'
etc=line.split()
print(etc)

line ='first;second;third'
thing = line.split()
print(thing)
print(len(thing))

thing = line.split(";")
print(thing)
print(len(thing))

['A', 'lot', 'of', 'spaces']
['first;second;third']
1
['first', 'second', 'third']
3